{% comment %} 

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
 
{% endcomment %}


{% assign image = card_product.featured_image %}

{% if card_product.compare_at_price > card_product.price %}
  {% assign discount = card_product.compare_at_price | minus: card_product.price %}
  {% assign discount_percent = discount | times: 100 | divided_by: card_product.compare_at_price | round %}
{% endif %}

{% assign reviews_count = 43 %}
 <li class="card relative group">
    <span class="badge bg-[#FFFFFF21] font-bold tracking-[0.03em] text-white text-[15px] px-3 py-1.5 absolute top-2.5 left-2.5 z-20 border border-white/8 backdrop-blur-[4px]">
        SAVE {{ discount_percent }}%
    </span>
    <div class="card__media aspect-[313/439] bg-gray-100 mb-3 overflow-hidden relative">
        {% if image != blank %}
            {{ image | image_url: width: image.width | image_tag: class: 'block w-full group-hover:scale-105 transition duration-300 z-0', loading: 'lazy' }}
        {% else %}
            {{ 'image' | placeholder_svg_tag }}
        {% endif %}
        <div class="card__buttons p-2.5 font-bold w-full opacity-0 absolute transition-all duration-300 delay-100 bottom-0 z-20 translate-y-4 group-hover:block group-hover:translate-y-0 group-hover:opacity-100">
            <a id="add-to-cart" class="add-to-cart w-full py-4 px-11 bg-white text-black border border-white uppercase block text-center justify-center z-20
                hover:bg-[#FFFFFF21]  hover:shadow-xs backdrop-blur-[2px] hover:text-[var(--color-white)] transition-all duration-300" href="#">Add to cart</a>
        </div>
    </div>
    <div class="card__content">
        <div class="headings flex justify-between items-end gap-4 border-b border-[#DDDDDD] pb-3">
            <h3 class="secondary-heading text-xl text-[var(--color-black)] max-w-[70%] text-balance "> {{card_product.title | default: "Example product title"}} </h3>
            <p class="text-[var(--color-gray)]">{{ card_product.price | default: 20  | money_without_trailing_zeros}} </p>

        </div>
        <div class="reviews flex mt-3">
            <div class="reviews-stars flex">
                {% for i in (1..5) %}
                    {% render 'icon-star', width: '15' %}
                {% endfor %}
            </div>
            <span class="text-base ml-2 mt-[-2px] text-[var(--color-gray)]">{{ reviews_count }} reviews</span>
        </div>
    </div>

     <a href="{{ card_product.url }}" class="absolute inset-0 z-10" aria-label="{{ product.title }}"><span class="sr-only">{{ product.title }}</span></a>
</li>